[submodule "lib/usb_midi_host"]
	path = lib/usb_midi_host
	url = https://github.com/rppicomidi/usb_midi_host
[submodule "lib/usb_midi_dev_ac_optional"]
	path = lib/usb_midi_dev_ac_optional
	url = https://github.com/rppicomidi/usb_midi_dev_ac_optional.git
